### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

#Java
*.class


# CMake
cmake-build-*/
Project_2/Java_Part_1/.classpath
Project_2/Java_Part_1/.project
Project_2/Java_Part_1/bin/pom.xml
Project_2/Java_Part_1/bin/.project
Project_2/Java_Part_1/.settings/org.eclipse.jdt.core.prefs
